.app-choice {
  width: 90%;

  &__title {
    text-align: center;
    color: #e50914;
    margin-bottom: 3rem;
  }

  &__for-provider {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);

    font-size: 1.2rem;
    color: #b81d24;
  }

  &__provider-btn {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      color: #e50914;
    }
  }
}
