.app-player {
  &__close {
    position: absolute;
    right: 2rem;
    top: 2rem;

    cursor: pointer;
    color: #b81d24;
    font-family: inherit;
    font-size: 1.4rem;
    border: none;
    background-color: transparent;

    &:hover {
      color: #e50914;
    }
  }

  &__timer {
    position: absolute;
    left: 2rem;
    top: 2rem;
    font-size: 1.4rem;
    color: #b81d24;

    &:hover {
      color: #e50914;
    }
  }
}
