.welcoming {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #221f1f;

  display: flex;
  align-items: center;
  justify-content: center;
}
